@import "../../index.scss";

#post-solo {
  position: relative;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;

  .container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    .image-background {
      position: relative;
      width: 100%;
      height: 100%;

      display: flex;
      align-items: end;
      justify-content: end;
      flex-direction: column;

      img {
        width: 100%;
        height: 400px;
        border-radius: 0.5rem;
        border: 1px solid var(--border);
        background-color: $bg-2;
        margin-bottom: 2rem;


        aspect-ratio: auto / 400;
      }
    }

    .title-text {
      position: relative;
      width: 100%;

      margin-bottom: 2rem;

      display: flex;

      justify-content: start;
      flex-direction: column;
      gap: 1rem;

      .several-content {
        position: relative;
        width: 100%;

        display: flex;
        align-items: start;
        justify-content: start;

        gap: 0.5rem;

        span {
          word-break: break-all;

          font-size: 12px;
          font-weight: 500;

          color: var(--p);
          margin: 0;

          padding: 0.3rem 1rem;
          border: 1px solid var(--border);
          border-radius: 2rem;

          display: flex;
          align-items: center;
          gap: 0.4rem;
        }


      }

      h1 {
        font-size: 42px;
        font-weight: 900;
        line-height: 52px;
        color: var(--p);
        word-wrap: break-word;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        color: var(--p);
        line-height: 1.3125rem;
        opacity: .6;
      }
    }

    .all-content {
      position: relative;
      width: 100%;

      margin: 1rem 0;

      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;

      .profile-content {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: start;

        gap: 0.5rem;

        img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
        }

        p {
          word-wrap: break-word;
          word-break: break-all;

          max-height: 20px;
          font-size: 14px;
          font-weight: 900;
          line-height: 20px;
          color: var(--p);
          margin: 0;

        }
      }



      .action-icons {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 1rem;

        .action-icon {
          position: relative;

          width: 40px;
          height: 40px;
          padding: 0.5rem;
          border-radius: 100%;
          border: 1px solid var(--border);
          background-color: var(--btn);
          color: var(--fixed-c);
          border-radius: 2rem;

          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

          &:hover {
            background-color: var(--btn-2);
          }
        }
      }
    }
  }

  .post {
    position: relative;
    width: 100%;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;

  }


}

@media (max-width: 809px) {
  #post-solo {
    .container {
      .image-background {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: end;
        justify-content: end;
        flex-direction: column;

        img {
          width: 100%;
          height: 300px;
          border-radius: 0.5rem;
          border: 1px solid var(--border);
          background-color: $bg-2;
          margin-bottom: 2rem;


          aspect-ratio: auto / 300;
        }
      }

      .title-text {
        position: relative;
        width: 100%;

        margin-bottom: 2rem;

        display: flex;

        justify-content: start;
        flex-direction: column;
        gap: 1rem;

        .several-content {
          position: relative;
          width: 100%;

          display: flex;
          align-items: start;
          justify-content: start;

          gap: 0.5rem;

          span {
            word-break: break-all;

            font-size: 12px;
            font-weight: 500;

            color: var(--p);
            margin: 0;

            padding: 0.3rem 1rem;
            border: 1px solid var(--border);
            border-radius: 2rem;

            display: flex;
            align-items: center;
            gap: 0.4rem;
          }


        }

        h1 {
          font-size: 42px;
          font-weight: 900;
          line-height: 52px;
          color: var(--p);
          word-wrap: break-word;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          color: var(--p);
          line-height: 1.3125rem;
          opacity: .6;
        }
      }

      .all-content {
        position: relative;
        width: 100%;

        margin: 1rem 0;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        .profile-content {
          position: relative;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: start;

          gap: 0.5rem;

          img {
            width: 30px;
            height: 30px;
            border-radius: 100%;
          }

          p {
            word-wrap: break-word;
            word-break: break-all;

            max-height: 20px;
            font-size: 14px;
            font-weight: 900;
            line-height: 20px;
            color: var(--p);
            margin: 0;

          }
        }



        .action-icons {
          width: 100%;
          display: flex;
          align-items: start;
          justify-content: start;
          gap: 1rem;

          .action-icon {
            position: relative;

            width: 40px;
            height: 40px;
            padding: 0.5rem;
            border-radius: 100%;
            border: 1px solid var(--border);
            background-color: var(--btn);
            color: var(--fixed-c);
            border-radius: 2rem;

            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &:hover {
              background-color: var(--btn-2);
            }
          }
        }
      }

      .post {
        gap: 0.5rem;
      }
    }
  }
}