@import "../../../index.scss";

header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 10px;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  z-index: 998;
  padding: 1rem 2rem;

  .logo {
    order: 0;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: -1px;
    color: var(--p);

    svg {
      font-size: 16px;
      color: var(--p);
    }
  }

  nav {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    z-index: 999;

    li {
      a {
        color: var(--p);
        font-size: 12px;
        font-weight: 900;
        line-height: 48px;
        text-transform: uppercase;
        letter-spacing: 1px;

        opacity: 0.5;
        text-align: center;
        cursor: pointer;
        transition: opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover,
        &.active {
          opacity: 1;
        }
      }
    }
  }

  .user-content-modal,
  .notify-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    z-index: 999;
  }

  .notify-container {
    cursor: pointer;

    .side-icon {
      width: 40px;
      height: 40px;
      background-color: var(--bg);
      border: 1px solid var(--border);
      border-radius: 50%;
      color: var(--p);
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background-color: var(--border);
      }

      &:active {
        transform: scale(1.1);
      }
    }

    .notification-container {
      position: absolute;
      width: 10px;
      height: 0.625rem;
      bottom: 20px;
      right: 10px;
      border-radius: 50%;
      background-color: var(--border);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


.logged-in,
.logged-out {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 809px) {
    padding: 1rem;
  }
}

.logged-in {
  padding: 15px 250px;
  justify-content: end;

}

.logged-out {
  position: fixed;
  padding: 10px 250px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 809px) {
  header {
    justify-content: space-between;
    padding: 1rem;
    right: 0; // Adjust for better centering on small screens
  }

  .logo {
    font-size: 1.125rem; // 18px in rem for smaller screens

    svg {
      font-size: 0.875rem; // 14px in rem for smaller screens
    }
  }

  nav {
    gap: 0.5rem;

    li a {
      padding: 0.3rem 1rem;
      font-size: 0.875rem; // Slightly smaller font size for small screens
    }
  }

  .notify-container .side-icon {
    width: 2rem; // 32px in rem for smaller screens
    height: 2rem;
  }
}