@import "../index.scss";

#add-topics {
    position: relative;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    h1 {
        font-size: 38px;
        font-weight: 900;
        letter-spacing: -1px;
        margin: 0 0 2rem 0;
    }

    .border-bottom {
        width: 100%;
        height: 1px;
        margin: 2rem 0;
        background-color: var(--border);
    }

    form {
        width: 100%;

        input {
            width: 100%;
            height: 50px;

            padding: 1rem;

            outline: none;

            border-radius: 0.5rem;
            background-color: transparent;
            border: 1px solid var(--border);
            font-weight: 300;
            font-size: 18px;
            color: var(--p);

            margin-bottom: 1rem;

            &::placeholder {
                font-weight: 300;
                font-size: 18px;
                color: var(--p);
                opacity: .7;
            }
        }

        button {
            width: 100%;
            height: 50px;

            outline: none;
            border: none;

            background-color: var(--btn);
            color: var(--p);

            padding: 0.6rem 2rem;
            border-radius: 0.5rem;

            font-size: 16px;
            font-weight: 400;
            text-align: center;

            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &:hover {
                background-color: $bg-2;
            }
        }
    }
}