@import "../../index.scss";

#dashboard {
  position: relative;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;

  h1 {
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -1px;
    margin: 0 0 2rem 0;
  }

  .border-bottom {
    width: 100%;
    height: 1px;
    margin: 2rem 0;
    background-color: var(--border);
  }

  .posts {
    position: relative;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    .no-result {
      position: relative;
      width: 100%;

      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      gap: 3rem;

      span {
        position: relative;

        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }

      a {
        color: var(--p);
        padding: 0.5rem;
        background-color: $bg;
        border-radius: 0.5rem;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.3s ease;
        cursor: pointer;
      }
    }

    .post-dashboard {
      position: relative;
      width: 100%;
      height: 200px;
      padding: 1rem;
      border: 1px solid var(--border);
      border-radius: 0.5rem;
      background-color: var(--bg-2);

      display: flex;
      align-items: center;
      flex-direction: column;

      transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

      &:hover {
        border: 1px solid var(--p);
        transform: scale(1.03);
      }

      .background {
        position: absolute;
        width: 100%;
        height: 100%;

        left: 0;
        top: 0;

        border-radius: 0.5rem;
        background-color: $bg-2;
        filter: brightness(50%);

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          position: relative;
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
        }

        z-index: 0;
      }

      .text {
        position: relative;
        width: 100%;
        padding: 1rem 0;
        display: flex;
        align-items: start;
        flex-direction: column;
        height: 200px;
        gap: 1rem;
        word-break: break-all;

        h1 {
          font-size: 18px;
          font-weight: 900;
          letter-spacing: -1px;
          margin: 0;
          color: var(--p);
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .actions {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 1rem;

        li {
          position: relative;
          width: 50px;
          height: 35px;
          border-radius: 0.5rem;
          background: var(--bg-2);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          svg {
            color: var(--p);
          }
        }

        li:last-child {
          background-color: rgb(250, 62, 62);
        }
      }
    }

  }
}