@import '../../index.scss';

#first-home {
    position: relative;
    width: 100%;
    height: 80vh;

    max-width: 1200px;
    margin: 0 auto;

    padding: 20px;

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    .logo {
        font-size: 36px;
        font-weight: 900;
        letter-spacing: -1px;
        color: $p;

        span {
            font-size: 10vw;
            font-weight: 900;
            letter-spacing: -2px;
            color: $p;
        }
    }

    p {
        max-width: 60%;
        margin-bottom: 3rem;

        font-size: 18px;
        font-weight: 500;
        color: $p;
    }


    button {
        width: 100%;
        height: 40px;

        outline: none;
        border: none;

        background-color: $mt;
        color: $p;

        padding: 0.6rem 2rem;
        border-radius: 0.5rem;

        font-size: 16px;
        font-weight: 600;

        text-align: center;
        z-index: 1;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover {
            background-color: $bg-2;
        }
    }
}


@media (max-width: 809px) {
    #first-home {
        position: relative;
        width: 100%;
        height: calc(90vh - 70px);
        padding: 0 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .left-content {
            position: relative;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            span {
                letter-spacing: 2px;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
            }

            h1 {
                color: $p;
                font-weight: 500;
                letter-spacing: -2px;
                font-size: 64px;
                margin-bottom: 2rem;
                text-align: center;

                &:nth-child(1) {
                    font-weight: 700;
                }
            }

            .logo {
                font-family: "PT Serif Caption", serif;
                color: $p;
                letter-spacing: -1px;
                font-size: 74px;
                margin-bottom: 2rem;
            }

            p {
                max-width: 100%;
                color: $p;
                opacity: .8;
                line-height: 1.4;
                font-weight: 400;
                letter-spacing: -1px;
                font-size: 22px;
                text-align: center;
                margin-bottom: 1rem;
            }


            button {
                width: 250px;
                background-color: $p;
                height: 50px;
                border-radius: 2rem;

                color: $p-2;
                font-size: 18px;

                font-weight: 600;
                transition: opacity 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                &:hover {
                    opacity: .9;
                }
            }
        }


        .arrow-down {
            position: absolute;

            bottom: 20px;
            cursor: pointer;


            svg {
                position: relative;

                height: 50px;
                width: 50px;

                padding: 1rem;
                border-radius: 100%;
                background-color: $p;
            }
        }
    }
}