@import "../../../index.scss";

#edit-profile-modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--p-2);

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    z-index: 999;

    .close-edit {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 100%;

        display: flex;
        justify-content: end;

        svg {
            color: var(--p);
            transform: scale(0.9);
            border-radius: 100%;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                transform: scale(1);
            }
        }
    }

    .edit-profile-modal-content {
        position: relative;
        width: 100%;
        height: 100%;

        margin: 5rem 0;
        max-width: 1600px;
        padding: 75px 150px !important;

        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;

        .head-text {
            position: relative;
            width: 100%;

            h1 {
                font-size: 64px;
                font-weight: 500;
                line-height: 1.125;

                letter-spacing: -3px;

                color: var(--p);
                text-align: start;
                text-wrap: balance;
                word-wrap: break-word;
                margin-bottom: 3rem;
            }
        }

        form {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;

            display: flex;
            align-items: start;
            justify-content: start;
            flex-direction: column;
            gap: 3rem;

            .image-profile {
                display: flex;
                align-items: center;
                justify-content: center;

                .profile-photo {
                    position: relative;

                    img {
                        width: 125px;
                        height: 125px;
                        background-color: var(--bg-2);
                        border-radius: 50%;
                        transition: 0.3s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.02);
                        }
                    }

                    svg {
                        position: absolute;
                        cursor: pointer;
                        color: var(--p);
                    }
                }
            }

            .input-container {
                position: relative;
                width: 100%;
                margin-bottom: 1rem;

                input {
                    width: 100%;
                    padding: 0.5rem 0;
                    outline: none;

                    border: none;
                    border-bottom: 1px solid var(--border);
                    background-color: transparent;

                    font-weight: 500;
                    font-size: 20px;
                    line-height: 1.4;
                    letter-spacing: -0.02px;

                    color: var(--p);

                    &::placeholder {
                        color: transparent;
                    }

                    &:focus {
                        border-bottom: 1px solid var(--p);
                    }

                    &:focus~label,
                    &:not(:placeholder-shown)~label {
                        transform: translateY(-2.5rem);
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.3;
                        letter-spacing: -0.01px;
                        color: var(--p);
                    }
                }

                label {
                    position: absolute;
                    left: 0;
                    top: 30%;
                    padding: 0.5rem 0;
                    color: var(--p);
                    pointer-events: none;
                    transform: translateY(-50%);
                    transition: all 0.3s ease;
                }
            }

            textarea {
                width: 100%;
                height: 110px;
                padding: 0.5rem 0;

                outline: none;
                border: none;

                border-bottom: 1px solid var(--border);
                background-color: transparent;

                font-weight: 500;
                font-size: 20px;
                line-height: 1.4;

                letter-spacing: -0.02px;
                color: var(--p);

                resize: none;

                &::placeholder {
                    color: transparent;
                }

                &:focus {
                    border-bottom: 1px solid var(--p) !important;
                }

                &:focus~label,
                &:not(:placeholder-shown)~label {
                    transform: translateY(-3.5rem);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.3;
                    letter-spacing: -0.01px;
                    color: var(--p);
                }
            }

            .text-input {
                display: flex;
                align-items: center;

                span {
                    position: absolute;
                    right: 10px;
                    bottom: 5px;
                    cursor: pointer;

                    svg {
                        opacity: .8;
                    }
                }
            }

            .error-message {
                color: red;
                margin-bottom: 1rem;
            }

            button {
                width: 100%;
                height: 50px;
                outline: none;
                border: none;
                background-color: var(--p);
                border-radius: 2rem;
                color: var(--p-2);
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

                &:hover {
                    background-color: var(--btn-2);
                }

                .loading-container {
                    height: fit-content !important;

                    .loading {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

}


@media (max-width: 809px) {
    #edit-profile-modal {
        .modal-content {
            position: fixed;
            background: var(--bg);
            border: 1px solid var(--border);
            padding: 1.5rem;
            bottom: 0;
            width: 100%;
            height: 80vh;
        }
    }
}