@import "../../index.scss";

#home {
  position: relative;

  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;


  h1 {
    font-size: 34px;
    font-weight: 900;
    letter-spacing: -1px;
    margin: 0 0 1rem 0;
  }

}

.wrapper {
  position: relative;
  width: 100%;
}