@import '../../../../index.scss';

form {
    z-index: 998;

    .search-input {
        width: 40px;
        height: 40px;

        background-color: var(--bg);
        border: 1px solid var(--border);
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: end;
        transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);


        button {
            width: 50px;
            height: 40px;
            outline: none;
            border: none;
            background-color: transparent;

            color: var(--p);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input {
            width: 0;
            height: 40px;
            outline: none;
            border: none;
            background-color: transparent;
            border-radius: 0.5rem;
            font-size: 14px;
            font-weight: 600;
            color: var(--p);
            transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            padding-left: 0;
            padding-right: 0;

            &::placeholder {
                color: $s;
            }
        }
    }

    &.active {
        .search-input {
            width: 250px;

            input {
                width: 200px;
            }
        }
    }
}