@import "../../../index.scss";

#all-users {
    position: relative;
    width: 100%;
    top: 0;
    height: auto;
    margin: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-size: 18px;
        font-weight: 900;
    }

    .all-user-container {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .user-info {
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 40px;
                height: 40px;
                background-color: var(--bg-2);
                border-radius: 100%;
                border: 1px solid var(--border);
            }

            h2 {
                color: var(--p);
                font-size: 14px;
                font-weight: 700;
                margin: 0;
            }

            p {
                color: var(--p);
                font-size: 14px;
                font-weight: 400;
                margin: 0;
            }

        }

        button {
            width: fit-content;
            height: 30px;

            outline: none;
            border: none;

            background-color: var(--bg);
            border: 1px solid var(--border);
            color: var(--p);

            padding: 0.2rem 1rem;
            border-radius: 2rem;

            font-size: 12px;
            font-weight: 600;

            text-align: center;
            cursor: pointer;
            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &:hover {
                border: 1px solid var(--p);
                cursor: pointer;
            }
        }
    }

    button {
        width: 100%;
        height: 40px;

        outline: none;
        border: none;

        background-color: var(--btn);
        color: var(--p);

        border-radius: 2rem;

        font-size: 14px;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

        &:hover {
            border: 1px solid var(--p);

        }
    }

    .more-users-button {
        color: var(--fixed-c);

        &:hover {
            background-color: var(--btn-2);
            border: none;
        }
    }
}