@import "../../index.scss";

#notification {
    position: relative;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    h1 {
        font-size: 38px;
        font-weight: 900;
        letter-spacing: -1px;
        margin: 0 0 2rem 0;
    }

    .border-bottom {
        width: 100%;
        height: 1px;
        margin: 2rem 0;
        background-color: $border;
    }

    .notification-item {
        width: 100%;
        margin-bottom: 2rem;

        display: flex;
        align-items: center;
        gap: 1rem;


        .user-info {
            img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
            }

            cursor:pointer;
        }

        .user-text {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            p {
                font-size: 16px;
                color: $p;

                span {
                    font-weight: 800;
                    font-size: 18px;
                    color: $p;
                }
            }
        }
    }

    button {
        width: 200px;
        height: 40px;
        outline: none;
        border: none;
        background-color: $mt;
        color: $p;
        padding: 0.6rem 2rem;

        border-radius: 0.5rem;
        margin: 0.5rem 0;
        font-size: 14px;
        font-weight: 600;
        z-index: 1;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }
}