@import "../../../index.scss";

.user-modal {
  display: relative;
  height: 100%;
  height: fit-content;
  z-index: 999;

  .profile-image {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 1rem;

    border-radius: 100%;

    cursor: pointer;
    user-select: none;
    transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    img {
      width: 40px;
      height: 40px;

      background-color: var(--bg-3);
      border: 1px solid var(--border);
      border-radius: 100%;

      cursor: pointer;
    }

    &:active {
      transform: scale(1.1);
    }
  }

  .dropdown {
    position: absolute;
    width: 260px;
    height: fit-content;
    top: 56px;
    right: 0;
    border-radius: 0.5rem;

    background-color: var(--bg);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text {
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: end;
      align-items: end;
      flex-direction: column;
      gap: 0.4rem;

      p {
        font-size: 16px;
        font-weight: 800;
        color: var(--p);
      }

      span {
        font-size: 14px;
        font-weight: 500;
        color: var(--p);
        opacity: .7;
      }
    }

    .profile-button,
    button {
      width: 250px;
      height: 40px;
      padding: 1rem;
      margin-bottom: 0.5rem;
      color: var(--p);

      outline: none;
      border: none;

      background-color: transparent;
      border-radius: 0.5rem;

      font-size: 14px;
      font-weight: 600;

      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;

      transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
      user-select: none;

      &.active {
        background-color: var(--btn);
        color: var(--fixed-c);
      }

      &:hover {
        background-color: var(--btn-2);
        color: var(--fixed-c);
      }
    }
  }

  .dropdown-active {
    height: 1px;
  }
}



@media (max-width:809px) {
  .user-modal {
    .dropdown {
      position: absolute;
      width: 260px;
      height: 230px;
      top: 80px;
      right: 20px;
    }

    .dropdown-active {
      height: 1px;
    }
  }
}