@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


$s: #828282;

$bg: #868686;



$bg-2: #343434;

:root {
  --p: #111111;
  --p-2: #ffffff;

  --bg: #fefefe;
  --bg-2: #2c2c2c;
  --bg-3: #f3f3f3;

  --border: #e0e0e0;
  --border-2: #dadada;

  --p-i: #111;

  --btn: #111;
  --btn-2: #333;

  --accent: #2e8ae6;
  --fixed-c: #f3f3f3;
}

.dark {
  --p: #fefefe;
  --p-2: #111111;

  --bg: #121212;
  --bg-3: #141414;

  --border: #262626;
  --border-2: #3a3a3a;

  --p-i: #fff;

  --btn: #242424;
  --btn-2: #404040;
}

* {
  font-family: "Manrope", sans-serif;
  list-style: none;
  text-decoration: none;

  padding: 0;
  margin: 0;
  word-spacing: 1px;
  font-size: 16px;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--p);

  margin: 0 auto;
  max-width: 1600px;

}


button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

section {
  padding: 75px 150px !important;

  @media (max-width:1200px) {
    padding: 75px 50px !important;
  }

  @media (max-width:809px) {
    padding: 85px 10px !important;
  }
}

.loading-container {
  position: relative;
  width: 100%;
  height: 100%;

  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .loading {
    width: 24px;
    height: 24px;
    border-radius: 100%;

    border: 4px solid;

    border-color: var(--fixed-c);
    border-right-color: var(--btn);
    animation: spinner-d3wgkg 1s infinite linear;
  }

  button {
    width: 40px;
    height: 40px;

    outline: none;
    border: none;

    background-color: var(--btn);
    border: 1px solid var(--border);
    border-radius: 100%;
    color: var(--fixed-c);

    font-size: 14px;
    font-weight: 500;


    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:hover {
      background-color: var(--btn-2);
    }
  }
}

.loading-container.initial {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .loading.initial {
    width: 50px;
    height: 50px;

    border: 6px solid;

    border-color: var(--fixed-c);
    border-right-color: var(--btn);
    animation: spinner-d3wgkg 1s infinite linear;
  }
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

.back {
  position: relative;
  margin-bottom: 1rem;
  color: var(--p);
  font-weight: 400;
  display: flex;
  align-items: center;

  gap: 0.2rem;

  cursor: pointer;

  svg {
    transition: all 0.3s;
  }

  &:hover {
    svg {
      transform: translateX(1px);
    }
  }
}

.border-post {
  width: 100%;
  height: 1px;
  background-color: var(--p);
  opacity: .1;
}

::selection {
  background-color: var(--btn);
  color: var(--btn);
}

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  background-color: var(--border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--p);
  border-radius: 0.5rem;
}

.Toastify__toast-theme--light {
  color: var(--bg-2);
  font-weight: 600;

  .Toastify__close-button--light {
    color: var(--bg-2);

  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.react-loading-skeleton {
  background-color: var(--border);

  &.react-loading-skeleton::after {
    background-image: linear-gradient(90deg, var(--border-2), var(--border-2), var(--border-2));
  }
}