@import "../../../index.scss";

#all-topics {
    position: relative;
    width: 100%;
    top: 0px;
    height: auto;
    margin: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1 {
        font-size: 18px;
        font-weight: 900;
    }

    .topic-info-container {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        .topic-info {
            position: relative;
            width: fit-content;
            height: 30px;

            border: 1px solid var(--border);
            border-radius: 2rem;
            padding: 0.1rem 1rem;

            color: var(--p);
            font-size: 14px;
            font-weight: 600;
            text-align: center;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &:hover {
                border: 1px solid var(--p);
                cursor: pointer;
            }
        }
    }

    a {
        width: 100%;
        height: 40px;

        outline: none;
        border: none;

        background-color: var(--border);
        color: var(--p);

        border-radius: 2rem;

        font-size: 14px;
        font-weight: 600;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}